#header{
    position: sticky;
    top: 0px;
}

header{
    text-align: center;
    background-color: burlywood;
    margin: -8px -8px 0px -8px;
    padding: 8px;
    border-bottom: 2px solid black;
}
section{
    padding: 5px;
    border-bottom: 1px solid grey;
}
#calendar table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
  }
  
#calendar td:hover{
    background-color: aqua;
}

footer{
    text-align: center;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.HWflexitem{
    min-width: 150px;
    min-height: 100px;
    background-color: rgb(222, 184, 135);
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    margin: 20px;
    vertical-align: middle;
    box-shadow: 5px 5px 5px grey;
}
.HWflexitem:hover{
    background-color: rgb(212, 174, 125);
    box-shadow: 1px 1px 5px grey;

}
